flows.json
[
  {
    "id": "f2eb775c.12c648",
    "type": "tab",
    "label": "플로우 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "3b3c3621.31d1ba",
    "type": "inject",
    "z": "f2eb775c.12c648",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 96,
    "y": 324,
    "wires": [
      [
        "14c25d62.742f13"
      ]
    ]
  },
  {
    "id": "14c25d62.742f13",
    "type": "function",
    "z": "f2eb775c.12c648",
    "name": "FC3 0 [4]",
    "func": "msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0 , \n    'quantity': 5\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 279,
    "y": 317,
    "wires": [
      [
        "fb4ba7a9.706a78"
      ]
    ]
  },
  {
    "id": "fb4ba7a9.706a78",
    "type": "modbus-flex-getter",
    "z": "f2eb775c.12c648",
    "name": "10502",
    "showStatusActivities": false,
    "showErrors": false,
    "logIOActivities": false,
    "server": "1e957885.8391a7",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 438,
    "y": 312,
    "wires": [
      [],
      [
        "841916d7.9d1ea8",
        "d3f9d159.82c58"
      ]
    ]
  },
  {
    "id": "841916d7.9d1ea8",
    "type": "modbus-response",
    "z": "f2eb775c.12c648",
    "name": "",
    "registerShowMax": 20,
    "x": 654,
    "y": 363,
    "wires": []
  },
  {
    "id": "d3f9d159.82c58",
    "type": "debug",
    "z": "f2eb775c.12c648",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 662,
    "y": 301,
    "wires": []
  },
  {
    "id": "e00f4834.d783d8",
    "type": "modbus-flex-write",
    "z": "f2eb775c.12c648",
    "name": "10502",
    "showStatusActivities": false,
    "showErrors": false,
    "server": "1e957885.8391a7",
    "x": 608,
    "y": 509,
    "wires": [
      [],
      [
        "e1fd1a6b.320fd8"
      ]
    ]
  },
  {
    "id": "6df3e54d.dd416c",
    "type": "inject",
    "z": "f2eb775c.12c648",
    "name": "",
    "topic": "",
    "payload": "12",
    "payloadType": "num",
    "repeat": "0.1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 91,
    "y": 428,
    "wires": [
      [
        "4bb3fc81.3084e4"
      ]
    ]
  },
  {
    "id": "15dda331.2cb3ad",
    "type": "function",
    "z": "f2eb775c.12c648",
    "name": "FC3 0 [4]",
    "func": "msg.payload = { \n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 1 , \n    'quantity': 5\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 397,
    "y": 506,
    "wires": [
      [
        "e00f4834.d783d8",
        "186fe226.a10a4e"
      ]
    ]
  },
  {
    "id": "f199c281.c9ee8",
    "type": "join",
    "z": "f2eb775c.12c648",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "5",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 251,
    "y": 597,
    "wires": [
      [
        "15dda331.2cb3ad",
        "540f0508.d9094c"
      ]
    ]
  },
  {
    "id": "540f0508.d9094c",
    "type": "debug",
    "z": "f2eb775c.12c648",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 398,
    "y": 639,
    "wires": []
  },
  {
    "id": "186fe226.a10a4e",
    "type": "debug",
    "z": "f2eb775c.12c648",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 596,
    "y": 584,
    "wires": []
  },
  {
    "id": "4bb3fc81.3084e4",
    "type": "function",
    "z": "f2eb775c.12c648",
    "name": "",
    "func": "msg.payload =Math.random() * 1000;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 152,
    "y": 505,
    "wires": [
      [
        "f199c281.c9ee8"
      ]
    ]
  },
  {
    "id": "e1fd1a6b.320fd8",
    "type": "modbus-response",
    "z": "f2eb775c.12c648",
    "name": "",
    "registerShowMax": 20,
    "x": 810,
    "y": 506,
    "wires": []
  },
  {
    "id": "9d1bb9e4.d44788",
    "type": "modbustcp-read",
    "z": "f2eb775c.12c648",
    "name": "",
    "topic": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "5",
    "rate": "1",
    "rateUnit": "s",
    "server": "26acfd99.f50832",
    "ieeeType": "off",
    "ieeeBE": true,
    "x": 689,
    "y": 115,
    "wires": [
      [
        "597a562b.025d48",
        "8d99549f.3695f8"
      ]
    ]
  },
  {
    "id": "597a562b.025d48",
    "type": "debug",
    "z": "f2eb775c.12c648",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 879,
    "y": 116,
    "wires": []
  },
  {
    "id": "8d99549f.3695f8",
    "type": "ui_text",
    "z": "f2eb775c.12c648",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "text",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 877,
    "y": 161,
    "wires": []
  },
  {
    "id": "55d24fa8.6bbb3",
    "type": "modbus-server",
    "z": "f2eb775c.12c648",
    "name": "",
    "logEnabled": false,
    "hostname": "0.0.0.0",
    "serverPort": 10502,
    "responseDelay": 100,
    "delayUnit": "ms",
    "coilsBufferSize": 10000,
    "holdingBufferSize": 10000,
    "inputBufferSize": 10000,
    "discreteBufferSize": 10000,
    "showErrors": false,
    "x": 276,
    "y": 118,
    "wires": [
      [],
      [
        "9b3f4df5.96eb1"
      ],
      [
        "9b3f4df5.96eb1"
      ],
      [
        "9b3f4df5.96eb1"
      ]
    ]
  },
  {
    "id": "9b3f4df5.96eb1",
    "type": "debug",
    "z": "f2eb775c.12c648",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 468,
    "y": 126,
    "wires": []
  },
  {
    "id": "dbe09dea.78b31",
    "type": "inject",
    "z": "f2eb775c.12c648",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 55,
    "y": 124,
    "wires": [
      [
        "55d24fa8.6bbb3"
      ]
    ]
  },
  {
    "id": "1e957885.8391a7",
    "type": "modbus-client",
    "z": "",
    "name": "",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "localhost",
    "tcpPort": "10502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectTimeout": "2000"
  },
  {
    "id": "26acfd99.f50832",
    "type": "modbustcp-server",
    "z": "",
    "name": "",
    "host": "localhost",
    "port": "10502",
    "unit_id": "1",
    "reconnecttimeout": ""
  }
]